.text-danger{
    color: #f00;
}

.text-warning{
    color: rgb(242, 144, 8);
}

.text-success{
    color: #0f0;
}

.text-info{
    color: #00f;
}

.text-white{
    color: #fff;
}

.text-black{
    color: #000;
}
